@import "tailwindcss";

@theme {
  --color-primary: #0755e9;
  --color-secondary: #f7f7f7;
  --color-heading: #131313;
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility scrollbar-hide::-webkit-scrollbar {
  display: none;
}
